@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans:wght@300;400;600&display=swap');
@import '~react-loader-spinner/dist/loader/css/react-spinner-loader.css';

/* DB113B */

:root {
  --Primary: #DB113B;
  --PrimaryTint: #C91036;
  --Secondary: #111111;
  --SecondaryTint: "#FFFFFF";
  --Tertiary: #FFFFFF;
  --TertiaryTint: #F9F9F9;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2px;
  color: var(--Secondary);
}

#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.nunito {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.nunito.bold {
  font-weight: 600;
}

.primary {
  color: var(--Primary);
}

.primaryFill {
  background-color: var(--Primary);
}

.secondary {
  color: var(--Secondary);
}

.secondaryFill {
  background-color: var(--Secondary) !important;
}

.tertiary {
  color: var(--Tertiary);
}

.defaultColumnContainer {
  display: flex;
  flex-direction: column;
}

.defaultRowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.defaultSection {
  height: 75%;
  min-height: 75%;
  position: relative;
  flex-wrap: nowrap;
}

.scrollable {
  height: auto !important;
  flex-wrap: wrap !important;
}

.scrollable.centered {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 850px) {
  .scrollable-resize {
    height: auto !important;
    flex-wrap: wrap;
  }

  .padded-resize {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .scrollable-resize.centered {
    justify-content: space-between;
    align-items: center;
  }
}

.defaultBanner {
  height: 30%;
  min-height: 30%;
}

.smallBanner {
  min-height: 100px;
  padding: 30px;
}

.absoluteBanner {
  position: fixed;
  height: 64px;
  bottom: 1em;
  left: calc(50% - 125px);
  width: 250px;
  z-index: 1000000;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2)
}

.iconable-download:first-child {
  font-size: 2em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.iconable-download:not(:first-child) {
  font-size: 1.8em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.defaultInput {
  background-color: rgba(255, 255, 255, 0.3);
  width: 320px;
  height: 42px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin: 0 auto;
  font-size: 16px;
}

.defaultButton {
  width: 320px;
  height: 42px;
  outline: none;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.defaultButton.rounded {
  border-radius: 8px;
}

.defaultButton.rounded:hover {
  box-shadow: 0px 0px 5px 1px rgba(20,20,20,0.2);
}

.defaultButton:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.card.popup:hover, .lgxy-bckttp:hover {
  transform: translateY(-4px);
  box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.3);
}

.card-image {
  width: 100%;
  max-height: calc(90% - 60px);
}

.card-action {
  width: 33.33%;
  z-index: 1000;
}

.card-action:hover span {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.loader-bar > div {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-1deg); }
  20% { transform: translate(-1.5px, 0px) rotate(1deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(1deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1.5px, 0.5px) rotate(-1deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(1deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-1deg); }
}

.card-action span {
  color: var(--Primary);
  font-size: 22px;
}

::-webkit-input-placeholder { /* Edge */
  color: rgba(255, 255, 255, 0.8);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.fullWidth {
  width: 100%;
}

.insetWidth {
  width: 94%;
  margin-left: 3%;
}

.dabbedWidth {
  width: 76%;
  margin-left: 12%;
}

.fullHeight {
  height: 100%;
}

.flexible {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerAlign {
  align-items: center;
}

.centerJustify {
  justify-content: center;
}

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.spacer5 {
  flex: 0.05;
}

.spacer10 {
  flex: 0.1;
}

.opaque {
  opacity: 0.7;
}

.bold {
  font-weight: bold;
}

.spacer20 {
  flex: 0.2;
}

.spacer {
  flex: 1 1 auto;
}

.halfWidth {
  max-width: 50%;
  margin: 0 auto;
}

.halfWidth.forced {
  width: 50%;
}

.textCenter {
  text-align: center;
}

.header {
  font-size: 2em;
  text-align: center;
}

.header > .mojis {
  letter-spacing: 0.5em;
  font-size: 0.9em;
  margin-left: 1px;
}

.blog-promo {
  position: absolute;
  left: 5%;
  top: 22.5%;
  width: 150px;
  height: auto;
}

.blog-promo h5 {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 1.5em;
}

.blog-promo h5::after {
  content: "";
  height: 2px;
  background-color: rgba(219, 17, 59, 0.4);
  border-radius: 4px;
  width: 96%;
  position: absolute;
  left: 0;
  margin-left: 2%;
  margin-right: 2%;
  bottom: 0;
}

.para {
  line-height: 1.8em;
}

.marginize-top {
  margin-top: 1em;
  margin-bottom: 2em;
}

.blog-image {
  max-height: 600px;
  width: auto;
  margin: 15px;
  max-width: 100%;
}

.lgxy-bckttp {
  background-color: var(--Primary);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s, transform 0.3s;
}

.lgxy-bckttp > span {
  font-size: 16px;
}

.socials {
  height: 35px;
  width: 35px;
  background-color: var(--TertiaryTint);
  border-radius: 50%;
  position: relative;
  margin: 6px;
}

.social-label {
  position: absolute;
  left: 3.2em;
  margin: 0;
}

.socials.big {
  height: 45px;
  width: 45px;
}

.socials > span {
  color: var(--Secondary);
  font-size: 20px;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.socials:hover > span {
  color: var(--Primary);
  opacity: 0.9;
}

.socials > span.filled {
  color: var(--Primary);
  opacity: 1;
}

.socials > a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.templateContainer {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: box-shadow 0.3s;
}

.templateContainer:hover {
  box-shadow: 0px 0px 5px 0.5px rgba(20, 20, 20, 0.4);
}

.templateContainer > img {
  border-radius: 10px;
}

.download-icon {
  width: 150px;
}

.download-icon > img {
  height: 66.84px;
}

a {
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer-image {
  height: 180px;
  width: 180px;
}

.resize-show {
  display: none !important;
}

.tinyText {
  font-size: 14px;
}

@media (max-width: 850px) {
  .halfWidth {
    max-width: 80%;
  }

  .fullOnResize {
    margin-top: 2em;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
  }

  .spacer20 {
    display: none;
  }
}

#shop-checkout-banner {
  display: none;
}

@media (max-width: 800px) {
  .spacer.resize-show {
    display: block !important;
  }

  .resize-show {
    display: block !important;
  }

  .row-on-resize {
    flex-direction: row !important;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
  }

  .resize-hide {
    display: none;
  }

  #shop-checkout-banner {
    display: block;
  }
}

@media (max-width: 400px) {
  h4.textCenter.halfWidth {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.defaultSection, .defaultBanner {
  padding-top: 2em;
  padding-bottom: 2em;
}
