.landingHeader {
  font-size: 3.5em;
  margin-bottom: 0;
}

.landingText {
  width: 45%;
  max-width: 45%;
}

.videoContainer {
  justify-content: center;
  display: flex;
}

.videoContainer > img {
  height: 600px;
}

.imagesContainer {
  flex-wrap: wrap;
}

.imagesContainer > img {
  height: 250px;
  padding: 10px;
}

.astro {
  position: relative;
  background-image: url('https://res.cloudinary.com/lgxy/image/upload/tailori/astronaut-landing.webp');
  background-size: cover;
  height: calc(75% + 64px);
}

.astro-pacity {
  position: absolute;
  height: calc(100% - 64px);
  width: 100%;
  top: 64px;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.astro-height {
  height: calc(100% - 64px);
}

.blast-off {
  width: 200px;
  height: 54px;
  background-color: var(--Primary);
  border-radius: 6px;
  position: relative;
}

.blast-off:hover {
  background-color: var(--PrimaryTint);
}

.blast-off a {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--Tertiary);
  margin: 0;
  font-size: 16px;
}

@media (max-height: 650px) {
  .videoContainer > img {
    height: 400px;
  }
}

@media (max-height: 530px) {
  .videoContainer > img {
    height: 300px;
  }
}

@media (max-width: 850px) {
  .videoContainer > img {
    height: 500px;
  }

  .reversable-resize {
    flex-wrap: wrap-reverse;
  }

  .landingText {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }

  .landingHeader, .landingDescription {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 1250px) {
  .landingHeader {
    font-size: 3em;
  }

  .landingDescription {
    font-size: 1.5em;
  }
}

@media (max-width: 900px) {
  .landingHeader {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .landingDescription {
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .blast-off {
    margin-top: 2em;
    height: 48px;
    width: 175px;
  }
}

@media (max-width: 800px) {
  .astro-pacity {
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .astro {
    height: auto;
    padding-top: 15%;
    padding-bottom: 15%;
    background-position: center;
  }

  .videoContainer > img {
    height: 500px;
  }
}

@media (max-width: 350px) {
  .landingHeader {
    font-size: 2em;
  }

  .landingDescription {
    font-size: 1em;
  }
}
