.card {
  height: 295px;
  width: 250px;
  background-color: var(--TertiaryTint);
  border-radius: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: box-shadow 0.3s, transform 0.3s;
}

.card-actions {
  min-height: 50px;
  position: relative;
}

.card > h4 {
  margin: 0;
}

.ant-ribbon-wrapper .card {
  margin: 0;
}

.ant-ribbon-wrapper {
  margin: 1em;
}

.ant-ribbon-wrapper .ant-ribbon {
  top: 2em;
  font-size: 14px;
  font-family: 'Nunito';
}

.card-actions::after {
  position: absolute;
  content: "";
  height: 1.5px;
  width: 75%;
  background-color: var(--Primary);
  border-radius: 4px;
  top: 0px;
}

.card.small {
  height: 270px;
}

.card .priceable {
  position: absolute;
  right: 0;
  top: 194px;
  padding: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#catalog-image {
  background-repeat: repeat;
  background-position: 0px -10px;
}

.card > img {
  background-color: var(--TertiaryTint);
  height: 236px;
  width: 250px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.card > .price-fit {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  color: var(--Tertiary);
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background: var(--Primary);
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-director {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  border-radius: inherit;
}

.card-director:hover {
  box-shadow: 0px 0px 10px 2px rgba(20,20,20,0.2);
}

.content-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.title {
  font-size: 14px;
}

.tiny {
  font-size: 12px;
}

.super.tiny {
  font-size: 10px;
}

.catalogMessage {
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--TertiaryTint);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 14px;
}

.size-container {
  min-width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 15px;
  height: 60px;
  border-radius: 4px;
  cursor: pointer;
  background: var(--TertiaryTint);
  font-size: 16px;
  position: relative;
  outline: none;
}

.size-container.color {
  min-height: 100px;
}

.size-container.color.showing {
  min-height: 85px;
  min-width: 55px;
}

.size-container.color.showing > p {
  height: 35px;
  font-size: 11px;
}

.size-container.color > p {
  position: absolute;
  bottom: -1px;
  height: 30px;
  background: var(--TertiaryTint);
  width: 100%;
  font-size: 12px;
  border: 1px solid var(--TertiaryTint);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  margin: 0;
}

.size-container:hover {
  background: var(--Primary);
  color: var(--Tertiary) !important;
}

.size-container.color:hover {
  color: var(--Primary) !important;
}

.quantityIcon {
  font-size: 1.2em;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.quantityIcon[disabled] {
  pointer-events: none;
  opacity: 0.2;
}

.iconpart {
  user-select: none;
}

.catalogMainImage {
  height: 400px;
  background-color: var(--TertiaryTint);
  padding: 10px;
  border-radius: 8px;
}

.catalogAltImg {
  height: 70px;
  width: auto;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.catalogMainImageCont {
  position: relative;
  padding: 5px;
  background-color: var(--TertiaryTint);
}

.catalogMainImageCont > .catalogPrice {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 60px;
  margin: 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
}

.catalogAltImg:hover:not(.activeCatShot) {
  opacity: 0.2;
}

.catalogHeader {
  font-size: 32px;
}

.catalogDesc {
  font-size: 18px;
}

.catalogContainer {
  max-width: 500px;
}

.activeCatShot {
  border: 2px solid var(--Primary);
}

.bag-container {
  margin-top: 2em;
}

.bag-cover {
  height: 150px;
}

.bagatt {
  margin-top: 3px;
  margin-bottom: 1px;
}

.clickable {
  cursor: pointer;
}

.red {
  color: red;
}

.headerIcon {
  font-size: 2em;
}

.defaultInputCont {
  width: 320px;
  align-items: flex-start;
}

.defaultInput.inline.small {
  width: 90px;
}

.defaultInput.inline.big {
  width: 210px;
}

::-webkit-input-placeholder { /* Edge */
  color: rgba(255, 255, 255, 0.4);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.4);
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.container {
  padding: 5em;
  background: var(--Primary);
  border-radius: 0.5em;
}

.totalCont {
  width: 350px;
}

.absoluteSection {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--Tertiary);
  z-index: 1;
}

.inex {
  font-size: 3em;
}

.cutoff {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-header {
  margin-top: 3em;
}

.brand-logo {
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
}

.brand-profile-container .name {
  margin-top: 1em;
}

.brand-profile-container .des {
  margin-top: 0.2em;
}

.space-evenly {
  justify-content: space-evenly;
}

.brand-profile-container .stat-icon {
  font-size: 2em;
}

.brand-profile-container .socials-brand {
  margin-top: 1.5em;
}

.brand-profile-container .social-icon {
  font-size: 1.8em;
}

.merch-container {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  justify-content: space-between;
}

.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  height: auto;
  min-height: 150px;
  max-height: 80%;
  overflow: scroll;
  padding: 15px;
  padding-bottom: 25px;
  background: var(--Tertiary);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.size-container.disabled > p {
  display: none;
}

.size-container.disabled {
  opacity: 0.9 !important;
}

.sizee.disabled {
  background: var(--Primary);
  color: var(--Tertiary);
}

.disabled {
  opacity: 0.2 !important;
}

.toCart {
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .card {
    height: 220px;
    width: 170px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-top: 0.5em;
  }

  .defaultInputCont {
    width: 100% !important;
  }

  .card.small {
    height: 195px;
  }

  .profile-header div {
    margin-left: 15px;
    margin-right: 15px;
  }

  .card .priceable {
    top: 120px;
  }

  .card > img {
    height: 160px !important;
    width: 100% !important;
  }

  .dabbedWidth {
    width: 94%;
    margin-left: 3%;
  }

  .bag-cover {
    height: 120px;
  }

  .hasContainer {
    background: var(--Primary);
  }

  .container {
    padding: 2em;
  }

  .catalogMainImage {
    width: calc(100% - 20px);
    height: auto;
  }

  .catalogShotsAltCont {
    margin-top: 20px;
  }

  .catalogContainer {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .card {
    height: 200px;
    width: 150px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-top: 0.5em;
  }

  .card > img {
    height: 140px !important;
    width: 100% !important;
  }
}
