.download-nav {
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.get-nav-btn {
  border: 1px solid var(--Primary);
  padding: 5px 15px;
  color: var(--Primary);
  border-radius: 4px;
}

.get-nav-btn:active {
  color: var(--Tertiary);
  background: var(--Primary);
}

.linkify {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.checkout {
  font-size: 18px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-iconion {
  width: 42px;
  height: 42px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-iconion.shop {
  margin-bottom: 0px;
}

nav {
  height: 64px;
  width: 100%;
  background-color: var(--Primary);
  align-items: center;
}

nav.formalize {
  background-color: var(--Tertiary) !important;
}

nav.has-shadow {
  box-shadow: 0 5px 6px 0.5px rgba(0,0,0,0.1);
}

nav.isOpaque {
  background-color: rgba(219, 17, 59, 0.3);
}

.navbar-active {
  opacity: 0.7;
}

.navbar-active {
  opacity: 0.7;
}

.navbar-tab.opaque:hover {
  color: var(--Primary);
}

.navbar-active.opaque {
  opacity: 0.2;
}

.navbar-active.opaque:hover {
  opacity: 0.2;
  color: var(--Secondary) !important;
}

.navbar-tab {
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-top: 0;
  z-index: 10;
}

.navbar-tab:hover {
  opacity: 0.7;
}

.collapsible-menu {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  position: relative;
}

.collapsible-menu.open {
  max-height: 500px;
}

.navbar-tab.mini {
  height: 40px;
  min-height: 40px;
}

@media (max-width: 800px) {
  nav.main {
    display: none !important;
  }

  .navbar-iconion {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 0px;
  }

  nav .menu {
    color: var(--Tertiary);
    font-size: 1.3em;
  }

  .navbar-iconion + h1 {
    margin-bottom: 0px;
  }

  nav .spacer, nav .spacer5, .navbar-tab:not(.keep) {
    display: none;
  }

  .navbar-tab {
    min-height: 64px;
  }

  nav {
    height: auto;
    align-content: center;
    justify-content: center;
  }
}
